<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" id="background-image-low-opacity">
    <div class="container">
        <a class="navbar-brand mr-4" href="/">ShopLst</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/shopping-list">Shopping List</a>
                <a class="nav-item nav-link" href="/purchase-history">Purchases</a>
                {% if user_admin %}
                <a class="nav-item nav-link" href="/add-item">Add item</a>
                <a class="nav-item nav-link" href="/admin">Admin</a>
                {% endif %}
            </div>
        </div>
        <div>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="color:#F1FAEE;">
                    {% if profile_pic %}
                        <img src="{{ profile_pic }}" style="width:38px; height:38px; border-radius:50%; margin-right:5px;">
                    {% endif %}
                    {{ name }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/purchase-history">Settings</a></li>
                    <li><a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Log out</a></li>
                </ul>
            </div>
            {% else %}
                <a href="{{ url_for('login_google') }}" class="btn btn-primary" style="color:#F1FAEE;">Log in</a>
            {% endif %} 
        </div>
    </div>
</nav>