body {
background: #fafafa;
color: #333333;
margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
color: #444444;
}

h1 {
    text-align: center;
}

.no_style_type {
    list-style-type:none;
}

.bg-steel {
    position: fixed; /* Ensures the navbar stays at the top */
    top: 0;          /* Attaches it to the very top of the page */
    width: 100%;     /* Stretches it across the screen */
    z-index: 10;     /* Keeps the navbar on top of other content */
    background-image: url("../img/simple_pattern_background.png");
    background-size: cover; /* Makes the image fit properly */
    background-blend-mode: overlay; /* Blends the color and the image */
    background-color: rgba(53, 55, 45, 0.99); /* Adds the color overlay */
    color: white;    /* Ensures text is readable */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow for better visibility */
    padding: 10px 20px; /* Adjusts navbar padding */
}      

.site-header .navbar-nav .nav-link {
color: #F1FAEE;
}

.site-header .navbar-nav .nav-link:hover {
color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
font-weight: 500;
}

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #dddddd;
border-radius: 3px;
margin-bottom: 20px;
color: #444444;
}

.account-img {
height: 125px;
width: 125px;
margin-right: 20px;
margin-bottom: 16px;
}

.account-heading {
font-size: 2.5rem;
}

.item-block {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fafafa;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .col-custom-5 {
        flex: 0 0 50%; /* 2 per row on small screens */
        max-width: 50%;
    }
}

.col-custom-5 {
    flex: 0 0 20%; /* 100% / 5 = 20% for 5 items per row */
    max-width: 20%;
    padding: 0 15px; /* Horizontal spacing */
}

.receipt-table th, .receipt-table td {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.receipt-table thead th {
    border-bottom: 1px solid #aaa;
}